
@{
    ViewBag.Title = "Create";
}

<div class="col-md-8 form-control">
    <h2>Create Catagory</h2>

    <form method="post">
        <label>Name</label>
        <input type="text" name="name" value="" />
        <br />

        <label>Description</label>
        <input type="text" name="Description" value="" />

        <br />
        <label>Image</label>
        <input id="ImageURL" type="hidden" name="ImageURL" value="" />
        <input id="imageUpload" type="file" name="Image" value="" accept=".png, .jpg" /><br />
        <img id="catagoryImage" class="img-thumbnail" />
        <br />

        <label>Is Featured</label>
        <input type="radio" name="isFeatured" value="True" />True
        <input type="radio" name="isFeatured" value="False" />False
        <br />
        <button type="submit">Save</button>
    </form>
</div>


<script>
    $("#imageUpload").change(function () {
        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }


        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
            
        })
            .done(function (response) {
                debugger;
                if (response.Success)
                {
                    $("#ImageURL").val(response.ImageURL);
                    $("#catagoryImage").attr('src', response.ImageURL);
                }
                
            })
            .fail(function (XMttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
    });

</script>