@model EcommerceClassLibrary.CatagoryModel
@{
    ViewBag.Title = "Delete";
}

<h2>Edit Catagory</h2>
<h1>Are you sure to delete this cataory</h1>
<form method="post">
    
    <button type="submit">Save</button>
</form>