@model List<CatagoryModel>

@{
    ViewBag.Title = "Create";
}
<div class="col-md-8">
    <h2>Create Product</h2>

    <form method="post" id="CreateProduct" class="form-control">
        <label>Catagories</label>
        <select name="CatagoryId">
            @foreach (var catagory in Model)
            {
                <option value="@catagory.id">@catagory.Name</option>
            }

        </select>
        <br />

        <label>Name</label>
        <input type="text" name="name" value="" />
        <br />

        <label>Description</label>
        <input type="text" name="Description" value="" />

        <br />

        <label>Price</label>
        <input type="number" name="Price" value="" />

        <br />
        <label>Image</label>
        <input id="ImageURL" type="hidden" name="ImageURL" value="" />
        <input id="imageUpload" type="file" name="Image" value="" accept=".png, .jpg" />
        <div class="thumb">
            <img id="catagoryImage" />
        </div>
        <br />
        <button type="button" id="btnSave">Save</button>
    </form>

</div>

<script>
    $("#btnSave").click(function () {
        $.ajax({
            type: "POST",
            url: '/Product/Create',
            data: $("#CreateProduct").serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html(" ");
                // alert('done');
            })
            .fail(function (XMttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
    });
</script>

<script>
    $("#imageUpload").change(function () {
        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }


        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false

        })
            .done(function (response) {
                debugger;
                if (response.Success) {
                    $("#ImageURL").val(response.ImageURL);
                    $("#catagoryImage").attr('src', response.ImageURL);
                }

            })
            .fail(function (XMttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
    });

</script>